<%- include('../partials/head', { title: title, styles: styles }) %>

    <div class="layout">

        <%- include('../partials/sidebar', { sidebarTitle: sidebarTitle, buttons: buttons }) %>

        <main class="content">

            <div class="admin-box">
                <h1>Estás en la página de administración</h1>
            </div>

        </main>

    </div>

<%- include('../partials/scripts', { scripts: scripts }) %>
